<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles.css" />

    <title>2095 Assignment</title>
  </head>

  <body>
    <div class="container">
      <%- include('./navbar') %>
      <div class="d-flex justify-content-center">
        <table class="table mx-2 table-hover">
          <thead class="thead-dark">
            <tr>
              <% for (let i = 0; i < driverTableHeader.length; i++) { %>
              <th scope="col"><%= driverTableHeader[i] %></th>
              <% } %>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0; i < drivers.length; i++) { %>
            <tr>
              <th scope="row"><%= drivers[i].id %></th>
              <th><%= drivers[i].name %></th>
              <th><%= drivers[i].department %></th>
              <th><%= drivers[i].licence %></th>
              <th><%= drivers[i].isActive %></th>
              <th><%= drivers[i].createdAt %></th>
              <th>
                <a
                  href="delete-driver?id=<%= drivers[i].id %>"
                  class="btn btn-danger"
                  >Delete</a
                >
              </th>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </body>

  <%- include('./footer') %>
</html>
